# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

# taydeo
/Content.*/_Funkystation/ @taydeo

# maps
/Resources/Maps/ @willowzeta
/Resources/Prototypes/Maps/** @Emisse @ArtisticRoomba
/Resources/Maps/** @Emisse @ArtisticRoomba

# audio
/Resources/Audio/ @vectorassembly

# textures
/Resources/Textures/ @Teasq

# rules
/Resources/ServerInfo/ @salpphie @Huhm-1

# github
/.github/ @taydeo @Komonighub

/Content.*/HeatContainer/ @slarticodefast

/Content.*/Stunnable/ @Princess-Cheeseballs
/Content.*/Nutrition/ @Princess-Cheeseballs
/Content.*/EntityEffects @Princess-Cheeseballs @sowelipililimute

# SKREEEE
/Content.*.Database/ @DrSmugleaf
/Content.Shared.Database/Log*.cs @DrSmugleaf @crazybrain23

/Content.Server/Discord/ @Simyon264

/Content.*/Atmos/** @ArtisticRoomba
